*{
  padding: 0;
  margin: 0;
}

.display{
  background-color: green;
  width: 50vw;
  height: 50vh;
  color: blue;
  font-size: 2rem;
}

.announcement{
  background-color: yellow;
  width: 50vw;
  height: 10vh;
}