*{
  padding: 0;
  margin: 0;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-family: 'Zeyada', cursive;
  height: 100vh;
}

.display{
  width: 50vw;
  height: 25vh;
  color: blue;
  font-size: 2rem;
  border: 10px dotted red;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.announcement{
  width: 50vw;
  height: 10vh;
  border: 10px dotted red;
  border-radius: 20px;
  text-align: center;
  line-height: 10vh;
  font-size: 2rem;
}

.pointsDisplay{
  display: flex;
  width: 50vw;
  background-color: unset;
  gap: 2em;
  border: 10px dotted red;
  border-radius: 20px;
  justify-content: space-around;
  align-items: center;
  padding: .2em 0 .2em 0;
  font-size: 1.5rem;
}

h1{
  padding-top: 1em;
  font-size: 3rem;
}

.buttons{
  display: flex;
  justify-content: space-around;
  width: 50vw;
}

.btn{
  font-family: inherit;
  font-size: 2rem;
  width: 150px;
  height: 50px;
  text-align: center;
  border: 2px dotted red;
  background: white;
  border-radius: 10px;
}

.weaponText{
  font-size: 3rem;
}