*{
  padding: 0;
  margin: 0;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Zeyada', cursive;
}

.display{
  background-color: green;
  width: 50vw;
  height: 50vh;
  color: blue;
  font-size: 2rem;
}

.announcement{
  background-color: yellow;
  width: 50vw;
  height: 10vh;
}

.pointsDisplay{
  display: flex;
  width: 50vw;
  background-color: blue;
  gap: 2em;
}

#rounds{
  margin-left: auto;
}